.app {
  justify-content: center;
}

.app .container {
  margin-top: 20px;
  width: 980px;
}

.app .message-box {
  justify-content: center;
}

.app .no-decoration {
  text-decoration: none;
}

.apply-flex {
  display: flex;
}

.app .form-search {
  border: 1px solid #ddd;
}

.app .search-box {
  flex-grow: 1;
  padding: 6px 6px 6px 0;
  outline: none;
  font-size: 1em;
  border: 0;
}

.app input[type="submit"] {
  background-image: url("https://cdn.rawgit.com/marcobiedermann/playground/master/ui/search/simple-search-bar/dist/assets/images/magnifier.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1.5em;
  order: -1;
  padding: 0.75em;
  text-indent: -999px;
  width: 3em;
  border: 0;
}

.app .issue-list {
  padding-left: 0;
  border: 1px solid #ddd;
}

.app .issue-container {
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.app .issue-item {
  padding: 6px 12px;
  border-top: 1px solid #ddd;
}

.app .issue-item:nth-child(1) {
  border-top-color: transparent;
}

.app .issue-item:hover {
  background-color: #ddd;
  cursor: pointer;
}

.app .issue-status {
  padding-right: 12px;
}

.app .issue-text {
  flex-grow: 1;
}

.app .pagination {
  justify-content: center;
  user-select: none;
}

.app .pg-btn {
  padding: 6px 12px;
  border: 1px solid #e1e4e8;
  outline: 0;
}

.app .pg-btn.disabled {
  pointer-events: none;
  opacity: 0.3;
  cursor: not-allowed;
}

.app .pg-btn.selected {
  pointer-events: none;
  background-color: blue;
  color: white;
}

.app .pg-btn:hover {
  background-color: #eff3f6;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app .container {
    width: 100%;
  }
  .app .pg-btn-number,
  .pg-btn-ellipses {
    display: none;
  }
  .app .issue-item {
    display: block;
  }
  .app .issue-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
